.center {
  margin: auto;
  max-width: 50%;
  margin-top: 15%;
}
.noMargin {
  margin: 0;
}
Body {
  font-family: Verdana;

}
.width-30 {
  max-width: 30%;
  min-width: 30%;
}

.width-full {
  max-width: 100%;
  min-width: 100%;
}
.searchInput {
    position:relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.searchButton {
    position:absolute;
    right:0;
    top:0;
    border:0;
    min-height: 100%;
}

.searchBar {
    padding-right:30px;
}

.results {
  margin: auto;
  background-color: #6b7a89;
  color: #d2d7db;
  max-width: 650px;
  min-width: 650px;
  margin-top: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.songTitle {
  margin-left: 5%;
}
.songArtist {
  margin-left: 5%;
}

#results-list {
  list-style-type: none;
}

.songInfo {
  padding-top: 2%;
  padding-bottom: 2%;
}
.audioControls{
  position: relative;
  margin: auto;
}

.shadowBorder {
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}
