.center {
  margin: auto;
  max-width: 50%;
  margin-top: 10%;
}
@media (max-width: 420px) {
  .center {
    margin: auto;
    max-width: 70% !important;
    margin-top: 10%;
  }
}
.noMargin {
  margin: 0;
}
Body {
  font-family: Verdana;

}
.width-30 {
  max-width: 30%;
  min-width: 30%;
}

.width-full {
  max-width: 100%;
  min-width: 100%;
}
.searchInput {
    position:relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.searchButton {
    position:absolute;
    right:0;
    top:0;
    border:0;
    min-height: 100%;
}

.searchBar {
    padding-right:30px;
}
#searchFormNav {
  display: none;
}
.results {
  position: relative;
  background-color: #6b7a89;
  color: #d2d7db;
  max-height: 35%;
  margin-top: 2%;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.songTitle {
  position: relative;
  right:0;
  top:0;
  border:0;
  margin: 0;
  padding: 15px;
  padding-bottom: 0;
  border-radius: 25px 25px 0px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
.songArtist {
  position: relative;
  right:0;
  top:0;
  border:0;
  margin: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

#results-list {
  list-style-type: none;
}

.songInfo {
  padding-top: 2%;
  padding-bottom: 2%;
}
.audioControls{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding-bottom: 25px;
  padding-top: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 25px 25px;
}

.shadowBorder {
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.albumArt {
  max-width: 100%;
  min-width: 100%;
  border-radius: 25px;
}

audio {
  width: 100%;
  border-radius: 25px;
}

.artCover {
  position: absolute;
  left:0px;
  top:0px;
  border:0;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  padding: 25;
  border-radius: 25px;
}

.songDetails{
  opacity: 1;
  margin: 25px;
}
